.upperlist{
    
    display: flex;
    flex-direction: row;
    background-color: yellow;
    border: 1px solid red;
    border-radius: 50px;
}

li{
    list-style-type: none;
    padding: 10px;
    color: black;
}

.astra{
    padding-right: 650px;
    font-size: 30px;
}

body{
    background-color: blue;
}

a{
    text-decoration: none;
}

.secure{
    border: 1px solid white;
    height: 35px;
    width: 250px;
    border-radius: 10px;
    color: blue;
}

.info{
    display: flex;
}

.photo{
    margin-left: 400px;
}

.footer{
    display: flex;   
}

.list{
    color: white;
}